body{
    width: 80%;
    margin: auto;
    background-color: rgb(189, 222, 178);
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.H1{
    padding: 10% 0% 0% 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.03em;
    color: rgb(76, 27, 14);
    font-weight:800;
    font-style:italic;
}



.para{
    letter-spacing: 0.08em;
    word-spacing: 0.4em;
    line-height: 1.23em;
    

}

.flex-container{
    display: flex;
    justify-content: center;
    padding: 0% 15% 0% 15%;
}

.flex-container{
    justify-content: center;
    padding: 2% 30% 0% 30%;
}

button{
    background-color: yellow;
    border-radius: 10%;
    border-style: solid;
    border-color: yellow;
    box-shadow: 1.5px 1.5px;
}

input{
    box-shadow: 1.5px 1.5px rgb(0, 0, 0);    
}

.email{
    padding: 0% 5%  0% 5%;
}

.parab{
    text-align: center;
    padding: 3% 0%  3% 0%;
    font-weight: bolder;
    text-decoration:underline;
    border-color: black;
    border-radius: 3%;
    border-style:dashed;
    border-width: 3px;
    box-sizing: content-box; 
}

.copy{
    padding: 0% 40% 0% 40%;
}